Body {
  font-family: Helvetica;
  background-color: #FFEBCD;
}

input[type="password"], input[type="text"] { 
  width: 100%; 
  margin: 8px 0px;
  padding: 12px 20px; 
  display: inline-block; 
  border: 2px; 
  box-sizing: border-box; 
}

input[type="submit"] { 
 background-color:#E0FFFF; 
 width: 100px;
  color: black; 
  padding: 15px; 
  margin: 10px 0px; 
  border: none; 
  cursor: pointer; 
   } 

.container { 
  padding: 25px; 
  background-color: #DEB887;
        
    }
.meta{
  color: #A1887F;


}
